html{
    height: 100%;
    width: auto;
}

body {
    margin: 0 auto;
    margin-top: 0;
    background-image: url(img/triangles-1430105_1280.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: Nunito;
}

.info-first {
    width: 80%;
    height: 80%;
    background-color: white;
    border-radius: 20px;
    margin-left: 7%;
}

.info-last {
    width: 80%;
    height: 80%;
    background-color: white;
    border-radius: 20px;
    margin-right: 7%;
        display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.info-last-h1 {
    width: 100%;
}

article h1{
    text-align: center;
    font-family: FontAwesome;
    font-weight: 400;
    font-size: 4em;
    line-height: normal;
    font-style: normal;
    margin-top: 20%;
    padding: 1%;
}

.info-last h1 {
    margin-top: 10%;
        font-size: 3em;
        margin-bottom: 1%;
}

#slider_bl .wrapper {
    max-width: 60em;
    margin: 1em auto;
    position: relative
}

#slider_bl input {
    display: none
}

#slider_bl .inner {
    width: 500%;
    line-height: 0
}

#slider_bl article {
    width: 20%;
    float: left;
    position: relative;
    height: 93vh;
}

#slider_bl .photo {
    max-height: 80vh;
    width: 35%;
    min-width: 300px;
    margin-left: 33%;
    margin-top: 1.5%;
}

.eye-img {
        min-width: 100px;
        width: 10%;
        height: auto;
    }
.eye {
    width: 10%;
}

#slider_bl .slider-prev-next-control {
    height: 50px;
    position: absolute;
    top: 50%;
    width: 100%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%)
}

#slider_bl .slider-prev-next-control label {
    display: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #fff;
    opacity: .7
}

#slider_bl .slider-prev-next-control label:hover {
    opacity: 1
}

#slider_bl .slider-dot-control {
    position: absolute;
    width: 100%;
    bottom: 0;
    text-align: center
}

#slider_bl .slider-dot-control label {
    cursor: pointer;
    border-radius: 5px;
    display: inline-block;
    width: 10px;
    height: 10px;
    background: #bbb;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s
}

#slider_bl .slider-dot-control label:hover {
    background: #ccc;
    border-color: #777
}

#slider_bl .info {
    position: absolute;
    font-style: italic;
    line-height: 20px;
    opacity: 0;
    color: #000;
    text-align: left;
    -webkit-transition: all 1s ease-out .6s;
    -moz-transition: all 1s ease-out .6s;
    transition: all 1s ease-out .6s
}

#slider_bl .info h3 {
    color: #fcfff4;
    margin: 0 0 5px;
    font-weight: 400;
    font-size: 1.5em;
    font-style: normal
}

#slider_bl .info.top-left {
    top: 30px;
    left: 30px
}

#slider_bl .info.top-right {
    top: 30px;
    right: 30px
}

#slider_bl .info.bottom-left {
    bottom: 30px;
    left: 30px
}

#slider_bl .info.bottom-right {
    bottom: 30px;
    right: 30px
}

#slider_bl .slider-wrapper {
    width: 100%;
    min-width: 720px;
    max-height: 90vh;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 1px 1px 4px #666;
    background: rgba(255, 255, 255, 0.2);
    
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    transition: all .5s ease-out
}

#slider_bl .slider-wrapper .inner {
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transition: all .8s cubic-bezier(.77, 0, .175, 1);
    -moz-transition: all .8s cubic-bezier(.77, 0, .175, 1);
    transition: all .8s cubic-bezier(.77, 0, .175, 1)
}

#slider_bl #slide1:checked~.slider-prev-next-control label:nth-child(2)::after,
#slider_bl #slide1:checked~.slider-prev-next-control label:nth-child(5)::after,
#slider_bl #slide2:checked~.slider-prev-next-control label:nth-child(1)::after,
#slider_bl #slide2:checked~.slider-prev-next-control label:nth-child(3)::after,
#slider_bl #slide3:checked~.slider-prev-next-control label:nth-child(2)::after,
#slider_bl #slide3:checked~.slider-prev-next-control label:nth-child(4)::after,
#slider_bl #slide4:checked~.slider-prev-next-control label:nth-child(3)::after,
#slider_bl #slide4:checked~.slider-prev-next-control label:nth-child(5)::after,
#slider_bl #slide5:checked~.slider-prev-next-control label:nth-child(1)::after,
#slider_bl #slide5:checked~.slider-prev-next-control label:nth-child(4)::after {
    font-family: FontAwesome;
    font-style: normal;
    font-weight: 400;
    text-decoration: inherit;
    margin: 0;
    line-height: 38px;
    font-size: 3em;
    display: block;
    color: #777
}

#slider_bl #slide1:checked~.slider-prev-next-control label:nth-child(2)::after,
#slider_bl #slide2:checked~.slider-prev-next-control label:nth-child(3)::after,
#slider_bl #slide3:checked~.slider-prev-next-control label:nth-child(4)::after,
#slider_bl #slide4:checked~.slider-prev-next-control label:nth-child(5)::after,
#slider_bl #slide5:checked~.slider-prev-next-control label:nth-child(1)::after {
    content: "\f105";
    padding-left: 15px
}

#slider_bl #slide1:checked~.slider-prev-next-control label:nth-child(2),
#slider_bl #slide2:checked~.slider-prev-next-control label:nth-child(3),
#slider_bl #slide3:checked~.slider-prev-next-control label:nth-child(4),
#slider_bl #slide4:checked~.slider-prev-next-control label:nth-child(5),
#slider_bl #slide5:checked~.slider-prev-next-control label:nth-child(1) {
    display: block;
    float: right;
    margin-right: 5px
}

#slider_bl #slide1:checked~.slider-prev-next-control label:nth-child(5),
#slider_bl #slide2:checked~.slider-prev-next-control label:nth-child(1),
#slider_bl #slide3:checked~.slider-prev-next-control label:nth-child(2),
#slider_bl #slide4:checked~.slider-prev-next-control label:nth-child(3),
#slider_bl #slide5:checked~.slider-prev-next-control label:nth-child(4) {
    display: block;
    float: left;
    margin-left: 5px
}

#slider_bl #slide1:checked~.slider-prev-next-control label:nth-child(5)::after,
#slider_bl #slide2:checked~.slider-prev-next-control label:nth-child(1)::after,
#slider_bl #slide3:checked~.slider-prev-next-control label:nth-child(2)::after,
#slider_bl #slide4:checked~.slider-prev-next-control label:nth-child(3)::after,
#slider_bl #slide5:checked~.slider-prev-next-control label:nth-child(4)::after {
    content: "\f104";
    padding-left: 8px
}

#slider_bl #slide1:checked~.slider-dot-control label:nth-child(1),
#slider_bl #slide2:checked~.slider-dot-control label:nth-child(2),
#slider_bl #slide3:checked~.slider-dot-control label:nth-child(3),
#slider_bl #slide4:checked~.slider-dot-control label:nth-child(4),
#slider_bl #slide5:checked~.slider-dot-control label:nth-child(5) {
    background: #333
}

#slider_bl #slide1:checked~.slider-wrapper article:nth-child(1) .info,
#slider_bl #slide2:checked~.slider-wrapper article:nth-child(2) .info,
#slider_bl #slide3:checked~.slider-wrapper article:nth-child(3) .info,
#slider_bl #slide4:checked~.slider-wrapper article:nth-child(4) .info,
#slider_bl #slide5:checked~.slider-wrapper article:nth-child(5) .info {
    opacity: 1
}

#slider_bl #slide1:checked~.slider-wrapper .inner {
    margin-left: 0
}

#slider_bl #slide2:checked~.slider-wrapper .inner {
    margin-left: -100%
}

#slider_bl #slide3:checked~.slider-wrapper .inner {
    margin-left: -200%
}

#slider_bl #slide4:checked~.slider-wrapper .inner {
    margin-left: -300%
}

#slider_bl #slide5:checked~.slider-wrapper .inner {
    margin-left: -400%
}

@media only screen and (max-width:850px) and (min-width:450px) {
    #slider_bl .slider-wrapper {
        border-radius: 0
    }
}

@media only screen and (max-width:450px) {
    #slider_bl .slider-wrapper {
        border-radius: 0
    }
    #slider_bl .slider-wrapper .info {
        opacity: 0
    }
}

@media only screen and (min-width:850px) {
    #slider_bl body {
        padding: 0 80px
    }
}

article h3 {
    text-align: center;
    font-family: FontAwesome;
    font-weight: 400;
    font-size: 2em;
}

.btn {
    position: absolute;
    top: 64.6%;
    margin-left: 75%;
    display: none;
}
#button {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;

    font-size: 1.1em;
    text-transform: uppercase;
    padding: 7px 20px;
    left: 50%;
    width: 200px;
    top: 50%;
    border-radius: 10px;
    color: white;
    text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.8);
    border: 5px solid transparent;
    border-bottom-color: rgba(0, 0, 0, 0.35);
    background: hsla(260, 100%, 50%, 1);
    cursor: pointer;
    outline: 0 !important;
    animation: pulse 1s infinite alternate;
    transition: background 0.4s, border 0.2s, margin 0.2s;
    line-height: 5px;
    padding-top: 20px;
}

#button p {
    font-size: 10px;
}

#button:hover {
    background: hsla(220, 100%, 60%, 1);
    margin-top: -1px;
    animation: none;
}

#button:active {
    border-bottom-width: 0;
    margin-top: 5px;
}

#slide5:checked~.btn {
    display: block;
}

@media (min-width: 1100px) and (min-height: 730px) and (max-height: 1000px) {
    .photo {
        width: 40% !important;
        margin-left: 30% !important;
        margin-top: 2% !important;
    }
    .btn {
        top: 85%;
        margin-left: 40%;
    }
}

@media (max-width: 1100px) and (min-height: 1000px) {
    .info-first {
        margin-top: 23%;
        height: 60%;
    }
    .info-last {
        margin-top: 23%;
        right: 1.2% !important;
        height: 60%;
    }
    .photo {
        width: 80% !important;
        margin-left: 10% !important;
        margin-top: 5% !important;
    }
    
    .eye-img {
        min-width: 170px;
        width: 10%;
        height: auto;
    }
    
    .eye {
        float: left;
    }

    article h3 {
        font-size: 5em;
        line-height: normal;
        margin: 2% auto;
    }
    .slider-wrapper {
        margin-top: 2%;
    }
    .info-first h1 {
        font-size: 4em;
        margin-top: 50%;
    }
    
    .info-last h1 {
        font-size: 4em;
        margin-top: 12%;
        text-align: justify;
                margin-left: 5%;
        margin-right: 10%;
    }
    
    .slider-dot-control label {
        width: 50px !important;
        height: 50px !important;
        border-radius: 25px !important;
        margin-bottom: 30px;
    }
    .btn {
        top: 84%;
        margin-left: 33%;
    }
    #button {
        width: 350px;
        height: 150px;
        font-size: 2em;
        line-height: 15px;
        padding-top: 10%;
    }
    #button p {
        font-size: 20px;
    }
    #slider_bl .slider-prev-next-control label {
    width: 100px;
    height: 100px;
}

    #slider_bl #slide1:checked~.slider-prev-next-control label:nth-child(2)::after,
#slider_bl #slide2:checked~.slider-prev-next-control label:nth-child(3)::after,
#slider_bl #slide3:checked~.slider-prev-next-control label:nth-child(4)::after,
#slider_bl #slide4:checked~.slider-prev-next-control label:nth-child(5)::after,
#slider_bl #slide5:checked~.slider-prev-next-control label:nth-child(1)::after {
    padding-left: 37px;
    padding-top: 30px;
    font-size: 100px;
}
    #slider_bl #slide1:checked~.slider-prev-next-control label:nth-child(5)::after,
#slider_bl #slide2:checked~.slider-prev-next-control label:nth-child(1)::after,
#slider_bl #slide3:checked~.slider-prev-next-control label:nth-child(2)::after,
#slider_bl #slide4:checked~.slider-prev-next-control label:nth-child(3)::after,
#slider_bl #slide5:checked~.slider-prev-next-control label:nth-child(4)::after {
    padding-left: 27px;
    padding-top: 30px;
    font-size: 100px;
}
}


